@model MVC.Models.Login
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
.row{
    padding-left:65%;
    padding-bottom : 60%;
    display: grid;
   /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 16px;
    grid-row-gap:30px;
    margin-top: 15px;*/
}
.image{
    padding-left:20%;
}
</style>
<h3>user Motivity Microsoft authenticatio</h3>
 <li class="nav-item">
   <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
 </li>
 <div class="image">
<img src="https://motivity.eazework.com/images/slide_1.png" />
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginUser" asp-controller="Complaint">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="from-group">
@*                <label asp-for="Username" class="control-label">Username</label>
*@                <input asp-for="Username" placeholder="Username" class="from-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <br />
            <div class="from-group">
@*                <label asp-for="Password" class="control-label">Password</label>
                *@                <input asp-for="Password" placeholder="Password" class="from-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="from-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                
            </div>
           
            <label>@Html.Raw(ViewBag.Message)</label>
           
        </form>
    </div>
</div>



