@model MVC.Models.Login
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
.row{
    /*padding-left:65%;
    padding-bottom : 30%;
    display: grid;*/
   /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 16px;
    grid-row-gap:30px;
    margin-top: 15px;*/
    float :right;
        margin-top: 18%;


}
h6{
    color :blue;
}
.image{
    margin-right : 40%;
    
}

   .www{
       float : right;
   }

</style>
  
 <div class="image">
<img src="https://motivity.eazework.com/images/slide_1.png" />

<div class="row">
        
    <div class="col-md-4">
        <form asp-action="LoginUser" asp-controller="Complaint">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="from-group">
@*                <label asp-for="Username" class="control-label">Username</label>
*@                <input asp-for="Username" placeholder="Username" class="from-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <br />
            <div class="from-group">
@*                <label asp-for="Password" class="control-label">Password</label>
                *@                <input asp-for="Password" placeholder="Password" class="from-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />

                <input type="submit" value="Login" class="btn btn-primary" />
               
                <div class="form-group">
                    <p class="signup">Dont have account? <a href="@Url.Action("Register", "Home")" class="text-primary">Sign Up</a> now</p>
                </div>
                

                                 
                      
   
            @* <h6>If_Not_Register_User---------</h6>
              <a class="nav-link text-dark" asp-controller="Home" asp-action="Register"><h6>Register</h6></a>*@

@*                </ul>
*@            
               
           
            <label>@Html.Raw(ViewBag.Message)</label>
           
        </form>
    </div>
</div>



